<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />

    <title>404 - Page Not Found</title>
  </head>
  <body>
    <main>
      <header>
        <div id="qr-code">
          <img src="{{ url_for('static', filename='template_img/404.png') }}" alt="Error 404" />
        </div>

        <aside>
          <h1>Oops, order not found!</h1>
          <p>Verify if the URL is correct. If you have any question, please, contact our support team.</p>

          <div id="div-buttons">
            <button id="my-orders-button">My Orders</button>
            <button id="support-button">Contact the Support</button>
          </div>
        </aside>
      </header>
    </main>
  </body>
</html>
