<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />

    <title>Payment</title>
  </head>
  <body>
    <main>
      <header>
        <div id="qr-code">
          <img src="{{ host }}/payments/pix/qrcode/{{ qr_code }}" alt="QR Code" />
        </div>

        <aside>
          <h1>Order done!</h1>
          <p>To pay, select the option <strong>Pix with QR Code </strong> on your payment application and scan the QR Code.</p>

          <div id="purchase-value">
            <img src="{{ url_for('static', filename='template_img/tag.svg') }}" alt="Ícone de tag" />
            <span>Order total: R$ <strong id="amount">{{ value }}</strong></span>
          </div>
        </aside>
      </header>

      <footer>
        <div id="expiration-time">
          <header>
            <small>This QR Code expires in</small>
            <div>
              <img src="{{ url_for('static', filename='template_img/clock.svg') }}" alt="Ícone relógio" />
              <span>30 minutes</span>
            </div>
          </header>

          <span>You will be alerted when the payment is completed</span>
        </div>

        <div id="order">
          <small>Order number is</small>
          <div>
            <img src="{{ url_for('static', filename='template_img/basket.svg') }}" alt="Ícone do pedido" />
            <span>{{ payment_id }}</span>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
